<!DOCTYPE html>
<html>
    <head>
        <title>Chicken protection</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}" />
    </head>
    <body>
        <div class="container">
            <h1>Chicken protection</h1>      
            
            <div class="alert alert-primary" role="alert">
                Le système peut fonctionner suivant 2 modes : 
                <ul>
                    <li><strong>Automatique</strong> : l'ouverture et la fermeture des portes seront automatiques en fonction des paramètres définis ci-dessous.</li>
                    <li><strong>Manuel</strong> : fermez ou ouvrez n'importe quand.</li>
                </ul>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelectMode">Mode</label>
              </div>
              <select class="custom-select" id="inputGroupSelectMode">
                <option selected value="auto">Automatique</option>
                <option value="manu">Manuel</option>
              </select>
            </div>
            
            <!-- MANUEL -->
            <section class="row">
                <div class="btn-group col-md-12" role="group" id="ModeManu">
                    <button type="button" class="btn btn-danger col-md-6">Fermer la porte</button>
                    <button type="button" class="btn btn-success col-md-6">Ouvrir la porte</button>
                </div>
            </section>
            
            <!-- AUTOMATIQUE -->
            <section id="ModeAuto">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelectOuverture">Ouverture</label>
                            </div>
                            <select class="custom-select" name="inputGroupSelectOuverture" id="inputGroupSelectOuverture">
                                <option selected value="1">À l'aube</option>
                                <option value="2">À une heure fixe</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="OuvertureTime">hh:mm</label>
                            </div>
                            <input class="form-control" type="time" name="OuvertureTime" id="OuvertureTime"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-9">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelectFermeture">Fermeture</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelectFermeture">
                                <option selected value="1">Au crépuscule</option>
                                <option value="2">À une heure fixe</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="FermetureTime">hh:mm</label>
                            </div>
                            <input class="form-control" type="time" name="FermetureTime" id="FermetureTime"/>
                        </div>
                    </div>
                </div>

                <!-- ACTIONS -->
                <div class="row">
                    <div class="btn-group col-sm-12" role="group" id="Actions">
                        <button type="button" class="btn btn-dark col-sm-6">Annuler les modifications</button>
                        <button type="button" class="btn btn-success col-sm-6">Enregistrer les modifications</button>
                    </div>
                </div>
            </section>
        </div>

        <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>
</html>